.main-body .ti-pencil {
    color: white;
    background-color: blue;
    padding: 5px 8px;
    border-radius: 5px;
}
.main-body .ti-pencil:hover {
    box-shadow: 0 0 3px blue;
}

.main-body .page-wrapper{
    padding: 0px !important;
}

/* ----------- Css phần thông báo đẩy ----------------------------------------------- */
.pcoded-inner-content .lblThongBao {
    margin-bottom: 1.6rem;
}

/* ----------- Css phần Category ----------------------------------------------- */
/* START - Css phần bảng dữ liệu */
.main-body .name-category {
    width: 45%;
}

.main-body .image-category img {
    transition: all ease 0.3s;
 }
.main-body .image-category img:hover {
    cursor: pointer;
    transform: scale(0.95);
}

.main-body .table td {
    vertical-align: middle !important;
}
.main-body .ti-trash {
    color: white;
    background-color: red;
    padding: 5px 8px;
    border-radius: 5px;
}


.main-body .name-category span {
    white-space: normal;
}
.main-body .ti-trash:hover {
    box-shadow: 0 0 3px red;
}

.main-body .hoatdong {
    color: blue;
}

.main-body .khonghoatdong{
    color: red;
}
/* END - Css phần bảng dữ liệu */

/* --------------------- Css phần Product ----------------------------------------------- */
/* START -/
.main-body .soluong {
    color: red;
    font-weight: 600;
}
/* END - */
